<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
    <md-dialog aria-label="Mango (Fruit)" style="width: 65%;" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Comments</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/close-24.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-content>
            <md-card>
                    <md-card-content>
                      <md-list>
                        <md-item ng-repeat="item in $root.RestaurantComments">
                          <md-item-content>
                            <div class="md-tile-left inset" hide-sm>
                                <user-avatar></user-avatar>
                            </div>
                            <div class="md-tile-content">
                              <h3>{{item.FirstNamme}} {{item.LastName}}</h3>
                              <h4>{{item.Comment}}</h4>
                              <p>
                                <uib-rating ng-model="item.Mark" max="max" read-only="true" on-hover="hoveringIver(value)" on-leave="overStar = null" 
                                          titles="['one', 'two', 'three']" aria-labelledby='default-rating'></uib-rating>
                              </p>
                            </div>
                          </md-item-content>
                          <md-divider md-inset hide-sm ng-if="!$last"></md-divider>
                          <md-divider hide-gt-sm ng-if="!$last"></md-divider>
                        </md-item>
                      </md-list>
                    </md-card-content>
                  </md-card>
        </md-content>
    </md-dialog>
    </body>
</html>
