<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Le styles -->
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/bootstrap-responsive.css" type="text/css"/>
        <link rel="stylesheet" href="css/style.css" type="text/css"/>
    </head>
    <body ng-controller="AppCtrl" ng-cloak>
    <md-dialog aria-label="Mango (Fruit)" style="width: 65%;" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Interest</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/close-24.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-content>
            <div ng-repeat="interest in interests">
                 <jk-rating-stars max-rating="8" rating="ctrl.rating" 
                     read-only="!ctrl.readOnly" on-rating="ctrl.onRating(rating)" >                                      
                 </jk-rating-stars>
                <a>
                    <md-item-content md-ink-ripple layout="row" layout-align="start center">
                        <div class="inset">
                            <div class="inset">{{interest.title}}</div>
                        </div>
                       
                        <div class="rating">
                            <a href="#5" title="Donner 5 étoiles">☆</a>
                            <a href="#4" title="Donner 4 étoiles">☆</a>
                            <a href="#3" title="Donner 3 étoiles">☆</a>
                            <a href="#2" title="Donner 2 étoiles">☆</a>
                            <a href="#1" title="Donner 1 étoile">☆</a>
                        </div>
                        <div class="inset">
                            <div class="inset">{{interest.note}}</div>
                        </div>
                    </md-item-content>
                </a>
            </div>
        </md-content>
    </md-dialog>
    <script src="js/src/main.js"></script>
    <script src="js/element/jk-rating-stars.js"></script>
    </body>
</html>
