<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
    <md-dialog aria-label="Mango (Fruit)" style="width: 65%;" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Messages</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/close-24.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Contacts">
                    <input ng-model="searchContact.FirstName" placeholder="enter first name">
                    <md-card>
                        <md-card-content>
                            <md-list>
                                <md-item ng-repeat="item in $root.Contacts | filter:searchContact">
                                    <div class="row">
                                        <md-button class="md-raised btn pull-left" ng-show="item.showMessage === true" ng-hide="item.showMessage === false"  ng-click="item.showMessage = !item.showMessage">Hide message</md-button>
                                        <md-button class="md-raised btn pull-left" ng-show="item.showMessage === false" ng-hide="item.showMessage === true" ng-click="showMessage(item.Id, $index)">Show message</md-button>
                                        <md-button class="md-raised btn pull-right"  ng-click="sendMessageContact(item.Id)">Send message</md-button>
                                    </div>
                                    <div class="row">
                                        <md-item-content>
                                            <div class="md-tile-left inset" hide-sm>
                                                <user-avatar></user-avatar>
                                            </div>
                                            <div class="md-tile-content">
                                                <h3>{{item.FirstName}} {{item.LastName}}</h3>
                                                <textarea style="width: 500px;" ng-model="sendMessageCct.message">
                                                Enter your message
                                                </textarea>
                                            </div>
                                      </md-item-content>
                                      <md-divider md-inset hide-sm ng-if="!$last"></md-divider>
                                    <md-divider hide-gt-sm ng-if="!$last"></md-divider>
                                    
                                    <div class="row" ng-show="item.showMessage === true" ng-hide="item.showMessage === false">
                                        <md-card>
                                            <md-list>
                                              <md-item ng-repeat="message in item.message">
                                                   <md-item-content>
                                                      <div class="md-tile-left inset" hide-sm>
                                                            <user-avatar></user-avatar>
                                                        </div>
                                                        <div class="md-tile-content">
                                                            <h2>{{message.Message}}</h2>
                                                            <h4>{{message.Creation | date:'short'}}</h4>
                                                        </div>
                                                    </md-item-content>
                                                </md-item>
                                            </md-list>
                                        </md-card>
                                    </div>
                                    </div>
                                </md-item>
                            </md-list>
                        </md-card-content>
                    </md-card>
                    
                </md-tab>
                <md-tab label="Users">
                    <input ng-model="search.FirstName" placeholder="enter first name">
                    <md-card>
                        <md-card-content>
                            <md-list>
                                <md-item ng-repeat="item in $root.UsersWithoutFoodie | filter:search">
                                    <md-button class="md-raised btn pull-right"  ng-click="sendMessage(item.Id)">SendMessage</md-button>
                                    <md-item-content>
                                        <div class="md-tile-left inset" hide-sm>
                                            <user-avatar></user-avatar>
                                        </div>
                                        <div class="md-tile-content">
                                            <h3>{{item.FirstName}} {{item.LastName}}</h3>
                                            <textarea style="width: 500px;" ng-model="sendMessageUser.message">
                                                Enter your message
                                            </textarea>
                                        </div>
                                  </md-item-content>
                                  <md-divider md-inset hide-sm ng-if="!$last"></md-divider>
                                  <md-divider hide-gt-sm ng-if="!$last"></md-divider>
                                </md-item>
                            </md-list>
                        </md-card-content>
                    </md-card>
                </md-tab>
            </md-tabs>
        </md-content>
    </md-dialog>
    </body>
</html>
