<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
    <md-dialog aria-label="Mango (Fruit)" style="width: 65%;" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Messages</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/close-24.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-content>
            <md-tabs md-dynamic-height md-border-bottom>
                
            </md-tabs>
        </md-content>
    </md-dialog>
    </body>
</html>
