<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
    <md-dialog aria-label="Mango (Fruit)" style="width: 30%;" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Inscription</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/close-24.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Foodie">
                    <md-content class="md-padding">
                        <form name="foodieRegistrationForm">
                            <table>
                                <tr>
                                    <td>
                                    <md-input-container flex>
                                        <label>First name</label>
                                        <input ng-model="foddieRegistration.firstName">
                                    </md-input-container>
                                    </td>
                                    <td>
                                    <md-input-container flex>
                                        <label>Last name</label>
                                        <input ng-model="foddieRegistration.lastName">
                                    </md-input-container>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    <md-input-container flex>
                                        <label>Email</label>
                                        <input ng-model="foddieRegistration.email">
                                    </md-input-container>
                                    </td>
                                    <td>
                                    <md-input-container flex>
                                        <label>Password</label>
                                        <input ng-model="foddieRegistration.password">
                                    </md-input-container>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    <md-input-container flex>
                                    <label>Phone</label>
                                    <input ng-model="foddieRegistration.phone">
                                    </md-input-container>
                                    </td>

                                    <td>
                                <md-input-container flex>
                                    <label>Adresse</label>
                                    <input ng-model="foddieRegistration.addressPart1">
                                </md-input-container>
                                    </td>
                                </tr>
                            </table>
                            <md-button class="md-raised btn pull-right" ng-click="registration()">Inscription</md-button>
                        </form>
                    </md-content>
                </md-tab>
                <md-tab label="Restaurant">
                    <md-content class="md-padding">
                        <form name="restaurantRegistrationForm">
                            <table>
                                <tr>
                                    <td>
                                <md-input-container flex>
                                    <label>Name</label>
                                    <input ng-model="restaurant.firstName">
                                </md-input-container>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    <md-input-container flex>
                                        <label>Email</label>
                                        <input ng-model="restaurant.email">
                                    </md-input-container>
                                    </td>
                                    <td>
                                    <md-input-container flex>
                                        <label>Password</label>
                                        <input ng-model="restaurant.password">
                                    </md-input-container>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                <md-input-container flex>
                                    <label>Adresse</label>
                                    <input ng-model="restaurant.addressPart1">
                                </md-input-container>
                                    </td>
                                    <td>
                                <md-input-container flex>
                                    <label>Phone number</label>
                                    <input ng-model="restaurant.phone">
                                </md-input-container>
                                    </td>

                                </tr>
                            </table>
                            <md-button class="md-raised btn pull-right" ng-click="registrationRestaurant()">Inscription</md-button>
                        </form>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </md-dialog>
    </body>
</html>
