<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
    <md-dialog aria-label="Mango (Fruit)" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Inscription</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/close-24.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
            <md-content> 
                <form name="userConnection"> 
                    <div class="row">
                        <div class="col-md-12">
                            <md-input-container flex>
                                <label>Email</label>
                                <input ng-model="foodie.email">
                            </md-input-container>
                        </div>
                    </div>
                    <div style="" class="row">
                        <div class="col-md-12">
                            <md-input-container>
                                <label>Password</label>
                                <input ng-model="foodie.password">
                            </md-input-container>
                        </div>
                    </div>
                    <div class="row">
                        <md-button class="md-raised btn pull-right" ng-click="connection()">Connection</md-button>
                    </div>
                </form> 
            </md-content> 
    </md-dialog>
    </body>
</html>
